<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="WCFServiceApp.LoginService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WCFServiceApp.ILoginService" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="WCFServiceApp.RegisterService">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WCFServiceApp.IRegisterService" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="WCFServiceApp.GameAPI">
        <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" contract="WCFServiceApp.IGameAPI" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->

    <!-- Header config -->
    <!--<httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="*" />
        <add name="Access-Control-Max-Age" value="1728000" />
        <add name="X-Powered-By" value="*" />
      </customHeaders>
    </httpProtocol>-->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="WCFService.PythonWarriors.SQLConnectionString" connectionString="Data Source=techproprojects.bcit.ca\SQLSERVER;Initial Catalog=Python_Warriors;User ID=Server;Password=comp4D" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
